@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/Gilroy-ExtraBold.eot);
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url(../fonts/Gilroy-ExtraBold.eot?#iefix) format('embedded-opentype'), url(../fonts/Gilroy-ExtraBold.woff) format('woff'), url(../fonts/Gilroy-ExtraBold.ttf) format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/Gilroy-Light.eot);
  src: local('Gilroy Light'), local('Gilroy-Light'), url(../fonts/Gilroy-Light.eot?#iefix) format('embedded-opentype'), url(../fonts/Gilroy-Light.woff) format('woff'), url(../fonts/Gilroy-Light.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNova-Regular.eot);
  src: url(../fonts/ProximaNova-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova-Regular.woff) format("woff"), url(../fonts/ProximaNova-Regular.ttf) format("truetype"), url(../fonts/ProximaNova-Regular.svg#ProximaNova-Regular) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNova-Semibold.eot);
  src: url(../fonts/ProximaNova-Semibold.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova-Semibold.woff) format("woff"), url(../fonts/ProximaNova-Semibold.ttf) format("truetype"), url(../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold) format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNova-Bold.eot);
  src: url(../fonts/ProximaNova-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/ProximaNova-Bold.woff) format("woff"), url(../fonts/ProximaNova-Bold.ttf) format("truetype"), url(../fonts/ProximaNova-Bold.svg#ProximaNova-Bold) format("svg");
  font-weight: 600;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 32px;
}

body {
  background-color: #0040ca;
  font-family: "ProximaNova", sans-serif;
  opacity: 0;
}

.button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.scroll {
  position: absolute;
  bottom: 204.8px;
  bottom: 6.4rem;
  left: 134.4px;
  left: 4.2rem;
  height: 64px;
  height: 2rem;
  color: rgba(255, 255, 255, .9);
  font-size: 28.8px;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 19.2px 0 0 92.8px;
  padding: 0.6rem 0 0 2.9rem;
  z-index: 10;
  letter-spacing: 6.4px;
  letter-spacing: 0.2rem;
}

.scroll:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 46.72px;
  width: 1.46rem;
  height: 67.2px;
  height: 2.1rem;
  background: url(../images/mouse.png) no-repeat center/100%;
  content: "";
}

.wrapper {
  position: relative;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
}

.title {
  position: relative;
  color: #ffffff;
  font-family: "Gilroy", sans-serif;
  font-size: 137.92px;
  font-size: 4.31rem;
  font-weight: 800;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 64px;
  margin-bottom: 2rem;
  z-index: 10;
}

.title_sm {
  font-size: 99.52px;
  font-size: 3.11rem;
}

.text {
  color: #ffffff;
  font-family: "ProximaNova", sans-serif;
  font-size: 67.84px;
  font-size: 2.12rem;
  line-height: 1.5;
  margin: 0;
}

.text-fill {
  display: inline-block;
  background-color: #c51a6a;
  padding: 0 12.8px;
  padding: 0 0.4rem;
}

.text-mark {
  color: #3f7aff;
}

.text-under {
  display: inline-block;
  line-height: 1.2;
  border-bottom: 6.4px solid #c51a6a;
  border-bottom: 0.2rem solid #c51a6a;
}

.page-nav {
  position: absolute;
  right: 120px;
  right: 3.75rem;
  width: 22.72px;
  width: 0.71rem;
  font-size: 0;
  z-index: 10;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  white-space: nowrap;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page-nav.home {
  top: 90%;
}

.page-nav.home .page-nav__control_prev {
  display: none;
}

.page-nav.wwa {
  top: 59%;
}

.page-nav.wwc {
  top: 59%;
}

.page-nav.oc {
  top: 59%;
}

.page-nav.cu {
  top: 59%;
}

.page-nav__title {
  display: inline-block;
  color: #ffffff;
  font-family: "ProximaNova", sans-serif;
  font-size: 29.76px;
  font-size: 0.93rem;
  font-weight: 600;
  letter-spacing: 6.4px;
  letter-spacing: 0.2rem;
  white-space: nowrap;
  text-transform: uppercase;
}

.page-nav__control {
  display: inline-block;
  width: 22.72px;
  width: 0.71rem;
  height: 20.8px;
  height: 0.65rem;
  background: url(../images/page-nav.png) no-repeat center/100%;
  cursor: pointer;
}

.page-nav__control_next {
  margin-right: 35.84px;
  margin-right: 1.12rem;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.page-nav__control_prev {
  margin-left: 35.84px;
  margin-left: 1.12rem;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.download {
  display: inline-block;
  width: 530.88px;
  width: 16.59rem;
  height: 113.92px;
  height: 3.56rem;
  color: #ffffff;
  background: transparent url(../images/button-download.png) no-repeat center/100%;
  font-family: "Gilroy", sans-serif;
  font-size: 36.8px;
  font-size: 1.15rem;
  font-weight: 800;
  line-height: 3.15;
  text-align: left;
  text-decoration: none;
  padding-left: 124.8px;
  padding-left: 3.9rem;
  -webkit-transition: background 0.3s ease, color 0.3s ease;
  transition: background 0.3s ease, color 0.3s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.download:before {
  width: 530.88px;
  width: 16.59rem;
  height: 113.92px;
  height: 3.56rem;
  background-image: url(../images/button-download_white.png);
  content: "";
}

.download:hover {
  color: #1a42c5;
  background-image: url(../images/button-download_white.png);
}

.download_inv {
  color: #1a42c5;
  background: transparent url(../images/button-download_white.png) no-repeat center/100%;
}

.download_inv:before {
  width: 530.88px;
  width: 16.59rem;
  height: 113.92px;
  height: 3.56rem;
  background-image: url(../images/button-download.png);
  content: "";
}

.download_inv:hover {
  color: #ffffff;
  background-image: url(../images/button-download.png);
}

.link {
  display: inline-block;
  color: #ffffff;
  font-family: "Gilroy", sans-serif;
  font-size: 138.56px;
  font-size: 4.33rem;
  font-weight: 300;
  line-height: 1.3;
  text-decoration: none;
  border-bottom: 6.4px solid #c51a6a;
  border-bottom: 0.2rem solid #c51a6a;
}

.mobile-menu {
  display: none;
}

@media (max-width: 640px) {
  html,
  body {
    height: auto;
    overflow: auto !important;
  }

  html.mobile-menu-opened,
  body.mobile-menu-opened {
    overflow: hidden !important;
  }

  html {
    font-size: 7px;
  }

  .scroll {
    display: none;
  }

  .page-nav {
    display: none;
  }

  .title_sm {
    font-size: 4.31rem;
  }

  .text {
    font-size: 3.4rem;
  }

  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #0a194a;
    overflow: auto;
    z-index: 20;
  }

  .mobile-menu__list {
    height: 100%;
    min-height: 91rem;
    background: url(../images/mobile-menu-bg.png) no-repeat right bottom/100%;
    padding: 0;
    margin-top: 11rem;
    margin-bottom: 0;
    list-style: none;
  }

  .mobile-menu__item {
    padding: 4rem 8.5rem;
    border-top: 1px solid #172654;
  }

  .mobile-menu__item:last-child {
    border-bottom: 1px solid #172654;
  }

  .mobile-menu__link {
    color: #9bbaff;
    font-size: 3rem;
    font-weight: 800;
    text-decoration: none;
  }

  .mobile-menu__link_download {
    position: relative;
    padding-right: 4.3rem;
  }

  .mobile-menu__link_download:after {
    position: absolute;
    top: -0.05rem;
    right: 0;
    width: 2rem;
    height: 3.5rem;
    background: url(../images/icon-download_m.png) no-repeat center/100%;
    content: "";
  }
}
