.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 44px 58.4px 0 68.48px;
  padding: 2.75rem 3.65rem 0 4.28rem;
  z-index: 30;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header_mobile {
  display: none;
}

.header__logo {
  font-size: 0;
  text-decoration: none;
}

.header__logo-image {
  max-width: 188.48px;
  max-width: 11.78rem;
}

.header__burger {
  display: none;
}

.header__menu {
  display: none;
}

@media (max-width: 640px) {
  .header {
    display: none;
  }

  .header_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3.7rem 4.28rem;
  }

  .header__logo-image {
    max-width: 21.78rem;
  }

  .header__burger {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    background: url(../images/burger.png) no-repeat center/100%;
  }

  .mobile-menu-opened .header {
    position: fixed;
    background: #0a194a;
  }
}
