.main {
  width: 100%;
  height: 100%;
  padding: 1px;
}

.main_mobile {
  display: none;
}

.main__section {
  background-color: #0040ca;
}

.main__content {
  position: relative;
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.main__content_home {
  background: transparent url(../images/home.png) no-repeat right bottom/1323.36px;
  background: transparent url(../images/home.png) no-repeat right bottom/82.71rem;
  margin-top: 0;
}

.main__content_wwa {
  background: transparent url(../images/wwa.png) no-repeat left bottom/1666.88px;
  background: transparent url(../images/wwa.png) no-repeat left bottom/104.18rem;
}

.main__content_slider {
  top: 50%;
  height: 704px;
  height: 44rem;
  background: transparent url(../images/slider-bg.png) no-repeat left top/1075.36px;
  background: transparent url(../images/slider-bg.png) no-repeat left top/67.21rem;
  margin-top: -296px;
  margin-top: -18.5rem;
  margin-right: 128px;
  margin-right: 8rem;
  margin-left: 336px;
  margin-left: 21rem;
}

.main__content_oc {
  background: transparent url(../images/oc.png) no-repeat left bottom/1664px;
  background: transparent url(../images/oc.png) no-repeat left bottom/104rem;
}

.main__content_cu {
  background: transparent url(../images/cu.png) no-repeat right bottom/1114.4px;
  background: transparent url(../images/cu.png) no-repeat right bottom/69.65rem;
  margin-left: 356px;
  margin-left: 22.25rem;
}

.main__home {
  position: absolute;
  right: 521.44px;
  right: 32.59rem;
  bottom: 432px;
  bottom: 27rem;
}

.main__home-desc {
  display: block;
  color: #ffffff;
  font-family: "ProximaNova", sans-serif;
  font-size: 18.4px;
  font-size: 1.15rem;
  margin: 0;
}

.main__wwa {
  position: absolute;
  bottom: 674.88px;
  bottom: 42.18rem;
  left: 352px;
  left: 22rem;
}

.main__wwa-text {
  max-width: 880px;
  max-width: 55rem;
}

.main__wwa-m-image {
  display: none;
}

.main__oc {
  position: absolute;
  bottom: 343.36px;
  bottom: 21.46rem;
  left: 356.96px;
  left: 22.31rem;
}

.main__cu {
  position: absolute;
  right: 615.36px;
  right: 38.46rem;
  bottom: 406.88px;
  bottom: 25.43rem;
}

.main__image {
  display: block;
}

.main__clients {
  max-width: 976px;
  max-width: 61rem;
  margin-top: 14.88px;
  margin-top: 0.93rem;
}

.main__client {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  margin-top: 60px;
  margin-top: 3.75rem;
  margin-right: 64px;
  margin-right: 4rem;
}

.main__client img {
  width: 100%;
}

.main__client img:last-child {
  display: none;
}

.main__client:hover img:first-child {
  display: none;
}

.main__client:hover img:last-child {
  display: block;
}

.main__client_1 {
  width: 349.92px;
  width: 21.87rem;
}

.main__client_2 {
  width: 242.4px;
  width: 15.15rem;
}

.main__client_3 {
  width: 246.4px;
  width: 15.40rem;
}

.main__client_4 {
  width: 189.92px;
  width: 11.87rem;
}

.main__client_5 {
  width: 208px;
  width: 13rem;
}

.main__mail {
  margin-top: 37.44px;
  margin-top: 2.34rem;
}

.main__download {
  margin-top: 49.92px;
  margin-top: 3.12rem;
}

@media (max-width: 640px) {
  .main {
    display: none;
  }

  .main_mobile {
    display: block;
  }

  .main_mobile:before,
  .main_mobile:after {
    display: table-cell;
    content: "";
    clear: both;
  }

  .main__section {
    position: static;
    height: auto;
    -webkit-transform: none;
    transform: none;
  }

  .main__content_home {
    background: transparent url(../images/home_m.png) no-repeat center/100%;
    padding: 18.43rem 4.5rem 11.43rem 4.5rem;
    margin: 14rem 0 0 0;
  }

  .main__content_wwa {
    background: none;
    margin: 12rem 0 0 0;
  }

  .main__content_slider {
    top: 0;
    height: auto;
    background: transparent url(../images/slider-bg_m.png) no-repeat center 80%/65%;
    margin: 3rem 0 0 0;
    margin-right: 0;
    margin-left: 0;
  }

  .main__content_oc {
    background: none;
    background: transparent url(../images/oc_m.png) no-repeat center/cover;
    padding: 10rem 4.5rem;
    margin: 10rem 0 0 0;
    overflow: visible;
  }

  .main__content_cu {
    background: transparent url(../images/cu_m.png) no-repeat right bottom/100%;
    padding: 0 4.5rem 10.5rem 4.5rem;
    margin: 12rem 0 0 0;
  }

  .main__home {
    position: static;
    right: 0;
  }

  .main__home-desc {
    font-size: 2.5rem;
  }

  .main__wwa {
    position: static;
    bottom: 0;
    left: 0;
    padding: 0 4.5rem;
  }

  .main__wwa-text {
    width: 100%;
  }

  .main__wwa-m-image {
    display: block;
    width: 100%;
    margin-top: 1rem;
  }

  .main__oc {
    position: relative;
    top: -12rem;
    bottom: -10rem;
    left: 0;
  }

  .main__cu {
    position: static;
    right: 0;
    bottom: 0;
  }

  .main__clients {
    text-align: center;
  }

  .main__client {
    padding: 2.31rem;
    margin-right: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .main__client_1,
  .main__client_2,
  .main__client_3,
  .main__client_4,
  .main__client_5 {
    width: 90%;
  }

  .main__download-btn {
    width: 100%;
    height: 10rem;
    font-size: 2.7rem;
    padding-left: 10rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
