.nav {
  position: absolute;
  top: 267.2px;
  top: 16.7rem;
  margin-left: 34.88px;
  margin-left: 2.18rem;
  z-index: 15;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.nav__title {
  color: #3f7aff;
  font-family: "Gilroy", sans-serif;
  font-size: 18.4px;
  font-size: 1.15rem;
  font-weight: 800;
  padding-left: 32px;
  padding-left: 2rem;
  margin: 0;
}

.nav__list {
  padding: 0;
  list-style: none;
}

.nav__list-item {
  padding: 18.88px 0;
  padding: 1.18rem 0;
}

.nav__list-item.active .nav__link {
  color: #ffffff;
  font-size: 24px;
  font-size: 1.5rem;
}

.nav__list-item.active .nav__link:before {
  position: absolute;
  left: 0;
  width: 2.88px;
  width: 0.18rem;
  height: 100%;
  background-color: #c51a6a;
  border-radius: 0.15rem;
  content: "";
}

.nav__link {
  display: inline-block;
  position: relative;
  color: #a3b9ff;
  font-family: "Gilroy", sans-serif;
  font-size: 17.92px;
  font-size: 1.12rem;
  font-weight: 800;
  text-decoration: none;
  padding-right: 36.8px;
  padding-right: 2.3rem;
  padding-left: 32px;
  padding-left: 2rem;
  -webkit-transition: font-size 0.1s ease;
  transition: font-size 0.1s ease;
}

.nav__link_download:after {
  position: absolute;
  top: -0.8px;
  top: -0.05rem;
  right: 0;
  width: 17.92px;
  width: 1.12rem;
  height: 21.92px;
  height: 1.37rem;
  background: url(../images/icon-download.png) no-repeat center/100%;
  content: "";
}

@media (max-width: 640px) {
  .nav {
    display: none;
  }
}
