.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__desc {
  width: 510.88px;
  width: 31.93rem;
  margin-top: 84.8px;
  margin-top: 5.3rem;
}

.slider__pagination {
  position: relative;
  height: 13.44px;
  height: 0.84rem;
  font-size: 0;
  text-align: center;
  margin-top: -38.4px;
  margin-top: -2.4rem;
  margin-left: -112px;
  margin-left: -7rem;
  z-index: 100;
}

.slider__bullet {
  display: inline-block;
  width: 11.52px;
  width: 0.72rem;
  height: 11.52px;
  height: 0.72rem;
  border: 1.92px solid #a3b9ff;
  border: 0.12rem solid #a3b9ff;
  border-radius: 50%;
  margin-right: 13.6px;
  margin-right: 0.85rem;
  outline: none;
  cursor: pointer;
}

.slider__bullet:hover {
  background-color: #a3b9ff;
}

.slider__bullet:last-child {
  margin-right: 0;
}

.slider__bullet_active {
  background-color: #c51a6a;
  border-color: #c51a6a;
}

.slider__bullet_active:hover {
  background-color: #c51a6a;
}

.slider__image_s1 {
  max-width: 629.92px;
  max-width: 39.37rem;
  text-align: right;
  margin-top: 43.2px;
  margin-top: 2.7rem;
}

.slider__image_s2 {
  max-width: 522.4px;
  max-width: 32.65rem;
  margin-top: 128px;
  margin-top: 8rem;
  margin-left: 16px;
  margin-left: 1rem;
}

.slider__image_s3 {
  max-width: 608px;
  max-width: 38rem;
  margin-left: -88px;
  margin-left: -5.5rem;
}

.slider__image-item_s1 {
  width: 97.7%;
}

.slider__image-item_s2 {
  width: 100%;
}

.slider__image-item_s3 {
  width: 92%;
}

@media (max-width: 640px) {
  .slider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .slider__desc {
    width: auto;
    padding: 0 4.5rem;
  }

  .slider__image {
    max-width: 100%;
    padding: 3rem;
    margin: 0;
  }

  .slider__image-item {
    width: 100%;
  }

  .slider__image-item_s2 {
    margin-top: 9rem;
  }

  .slider__image-item_s3 {
    margin-left: -7rem;
  }

  .slider__pagination {
    margin: 5rem 0 0 0;
  }

  .slider__bullet {
    width: 0.8rem;
    height: 0.8rem;
    border-width: 0.3rem;
    margin-right: 2rem;
  }
}
